* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #7a7a7a;
  }

   /* Navbar code */

  /* Add background color to the top navigation */
.topnav {
    background: #484848;
    overflow: hidden;
    font-size: 25px;
    border-radius: 3px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #ededed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
width: 100%;
background: #484848;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #282828;
    color: 4848;
    transition: 0.3s;
  }
  
  h1 {
    color: #ededed;
    background: #484848;
    border-radius: 3px;
  }

  .credentials {
    border: solid black 2px;
    border-radius: 3px;
    max-width: 300px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #484848;
  }
  
  #login {
    color: white;
    background: green;
    border-radius: 3px;
    width: 60px;
    height: 40px;
  }
  
  #login:hover {
    color: white;
    background: darkgreen;
  }
  
  .button {
    border-radius: 3px;
    background: white;
  }
  
  #welcome {
    display: inline;
  }
  
  #landing-buttons {
    display: inline;
  }
  
 #logout {
background: darkred;
color: white;
  }

  
  table, tr {
    border: 1px solid black;
    width: 80%;
float:none;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
  }
  
  h3 {
    display: inline;
  }
  
  #record-input {
    width: 30%;
    height: 30px;
    background: white;
    color: black;
margin-right: auto;
margin-left: auto;
  }

  #username-input {
    background: white;
  }

  #expand {
    border: 1px solid black;
    width: 80%;
float:none;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
  }
  